pymodbus==3.6.8
pyserial==3.5
pyyaml==6.0.2
Flask==3.0.3
flask-socketio==5.3.6
requests==2.31.0
python-socketio==5.8.0
python-dotenv==1.0.0
dotenv
aiohttp
asyncpg
matplotlib
psycopg2
openpyxl